<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mfr3duo">
  <xacro:include filename="$(find mfr3duo_description)/urdf/mfr3duo.xacro"/>
  <xacro:include filename="$(find mfr3duo_hardware)/ros2_control/mfr3duo_ros2_control_macros.xacro"/>
  <xacro:arg name="control_period" default="0.002"/>
  <xacro:arg name="viewer_enabled" default="true"/>
  <xacro:arg name="model_path" default=""/>
  <xacro:arg name="initial_keyframe" default="home"/>
  <xacro:arg name="grasp_objects" default=""/>
  <xacro:arg name="scene_joints" default=""/>
  <xacro:mfr3duo connected_to="base"/>

  <ros2_control name="MFR3DuoMujoco" type="system">
    <hardware>
      <plugin>mfr3duo_hardware/Ros2ControlAdapter</plugin>
      <param name="control_period">$(arg control_period)</param>
      <param name="viewer_enabled">$(arg viewer_enabled)</param>
      <param name="model_path">$(arg model_path)</param>
      <param name="initial_keyframe">$(arg initial_keyframe)</param>
      <param name="grasp_objects">$(arg grasp_objects)</param>
      <param name="scene_joints">$(arg scene_joints)</param>
    </hardware>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint1"/>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint2"/>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint3"/>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint4"/>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint5"/>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint6"/>
    <xacro:mfr3duo_arm_joint name="left_fr3v2_1_joint7"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint1"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint2"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint3"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint4"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint5"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint6"/>
    <xacro:mfr3duo_arm_joint name="right_fr3v2_1_joint7"/>
    <xacro:mfr3duo_axis name="franka_spine_vertical_joint" command="position"/>
    <xacro:mfr3duo_axis name="tmrv0_2_joint_0" command="position"/>
    <xacro:mfr3duo_axis name="tmrv0_2_joint_1" command="velocity"/>
    <xacro:mfr3duo_axis name="tmrv0_2_joint_2" command="position"/>
    <xacro:mfr3duo_axis name="tmrv0_2_joint_3" command="velocity"/>
    <xacro:mfr3duo_gripper name="left_gripper"/>
    <xacro:mfr3duo_gripper name="right_gripper"/>
    <joint name="left_fr3v2_1_finger_joint1">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <joint name="right_fr3v2_1_finger_joint1">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
    </joint>
    <xacro:mfr3duo_control_imu name="imu"/>
  </ros2_control>
</robot>
